body {
    background-color: rgba(206, 230, 128, 0.455);
}
.main {
    color: rgb(18, 223, 14);
    background-color: bisque;
    text-align: center;
    text-decoration: dashed;
    text-transform: uppercase;
    font-family: sans-serif;
}
.test {
    background-color: aquamarine;
    padding: 10px 30px 20px 10px;
}
.test1 {
    background-color: yellowgreen;
    margin: 10px 40px 20px 30px;
}
