body {
    background-color:rgb(217, 211, 211)
}
.class {
    color: rgb(18, 223, 14);
    background-color: bisque;
text-align: center;
text-decoration:dashed;
text-transform: uppercase;
font-family: sans-serif;




}
.class1 {
color: blue;
background-color: khaki;
text-transform: uppercase;
text-transform: uppercase;
}